@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";



@theme{
    --color-textColor:#12211C;
    --color-navHoverColor:#E9F5F2;
    --color-activeNavlinkColor:#0E6B4F;/*#20C997*/
    --color-navBarBgColor:#FDFEFD ;/*#1C2E27*/
    --color-accendColor:#D4AF37 ;

    --color-background:#f6f9f7 ;
    /* --color-darkBackground:#101e19 ; */
   
    --font-forBodyText:"Source Sans 3", 'sans-serif';
    --font-forHeading:"Playfair Display";

}

:root{
    background-color: #f6f9f7;
}

